<div class="stats-box rounded row mx-0 mb-4">
  <div class="col-sm-4 py-3"><strong class="big-stats"><%= Prospecto.prospecto_stats %></strong><br>Prospectos</div>
  <div class="col-sm-4 py-3"><strong class="big-stats"><%= Prospecto.interesado_stats %></strong><br>Interesados</div>
  <div class="col-sm-4 py-3"><strong class="big-stats"><%= Prospecto.cliente_stats %></strong><br>Clientes</div>
</div>
<table class="prospectos-table rounded overflow-hidden">
  <tr>
    <th>Email</th>
    <th>Nombre</th>
    <th>Teléfono</th>
    <th>Status</th>
    <th>Ingresado por</th>
    <th>Fecha de ingreso</th>
    <th>Mensajes</th>
    <th>Opciones</th>
  </tr>
  <% @prospectos.each do |prospecto| %>
  <tr>
    <td><%= prospecto.email %></td>
    <td><%= prospecto.full_name %></td>
    <td><%= prospecto.phone %></td>
    <td><%= prospecto.status.capitalize %></td>
    <td><%= prospecto.user.email %></td>
    <td class="text-center"><%= prospecto.created_at.strftime('%F') %></td>
    <td class="text-center"><%= prospecto.conversations.count %><i class="fas fa-comment-dots text-muted ml-1"></i></td>
    <td class="text-center">
      <%= link_to prospecto_path(prospecto) do %>
      <i class="fas fa-eye"></i>
      <% end %>
      <%= link_to edit_prospecto_path(prospecto) do %>
      <i class="fas fa-pen ml-1"></i>
      <% end %>
      <%= link_to prospecto_path(prospecto), method: :delete, data: { confirm: "¿Estas seguro de borrar a '#{prospecto.full_name}'?" } do %>
      <i class="fas fa-trash ml-1"></i>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
